*.iml
.gradle
/app/src/main/java/com/kpstv/youtube/helper/BillingClient.java
/app/src/main/java/com/kpstv/youtube/PaypalActivity.java
/app/src/main/java/com/kpstv/youtube/helper/BillingUtils.java
/app/src/main/java/com/kpstv/youtube/AppInterface.java
/app/google-services.json
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
/release.properties
