<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kpstv.youtube">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- TODO: Change Sample AdMob AppNotify ID: ca-app-pub-3940256099942544~3347511713 -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1164424526503510~9892933550" />
        <meta-data
            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_xilTaJRWPpqiUp" /> <!-- TODO: Change your razorpay api key here... -->
        <activity
            android:name=".PaypalActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.Purchase.NoActionBar" />
        <activity android:name=".DPlaylistActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PurchaseActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.spotify.sdk.android.authentication.LoginActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".EqualizerActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditTagActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".DownloadActivity"
            android:launchMode="singleTask"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="audio/*" />
                <data android:mimeType="application/ogg" />
                <data android:mimeType="application/x-ogg" />
                <data android:mimeType="application/itunes" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="file"/>
                <data android:scheme="content"/>
                <data android:mimeType="text/*" />
                <data android:pathPattern=".*\\.txt" />
                <data android:host="*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="youtube.com"
                    android:scheme="http" />
                <data
                    android:host="open.spotify.com"
                    android:scheme="http" />
                <data
                    android:host="open.spotify.com"
                    android:scheme="https" />
                <data
                    android:host="youtube.com"
                    android:scheme="https" />
                <data
                    android:host="soundcloud.com"
                    android:scheme="https" />
                <data
                    android:host="soundcloud.com"
                    android:scheme="http" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="https" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="http" />
                <data
                    android:host="youtu.be"
                    android:scheme="http" />
                <data
                    android:host="youtu.be"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NPlaylistActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RingdroidEditActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:theme="@style/AppTheme.NoActionBar1"
            android:windowSoftInputMode="adjustResize">
            <intent-filter android:label="@string/edit_intent">
                <action android:name="android.intent.action.EDIT" />

                <data android:mimeType="audio/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayerActivity2"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar2" />
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CPlaylistActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity android:name=".SettingsActivity" /> <!-- android:theme="@style/SplashTheme" -->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar1" />
        <activity
            android:name=".ErrorActivity"
            android:launchMode="singleTask"
            android:noHistory="true" />
        <activity
            android:autoVerify="false"
            android:label="YTDownload"
            android:excludeFromRecents="true"
            android:theme="@style/DialogTheme"
            android:name=".SilentDownloadActivity" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="youtube.com"/>
                <data android:host="*.youtube.com"/>
                <data android:host="youtu.be"/>
                <data android:host="open.spotify.com"/>
                <data android:host="*.open.spotify.com"/>
                <data android:host="*.soundcloud.com"/>
                <data android:host="soundcloud.com"/>
<!--
                <data
                    android:host="youtube.com"
                    android:scheme="http" />
                <data
                    android:host="open.spotify.com"
                    android:scheme="http" />
                <data
                    android:host="open.spotify.com"
                    android:scheme="https" />
                <data
                    android:host="www.open.spotify.com"
                    android:scheme="http" />
                <data
                    android:host="www.open.spotify.com"
                    android:scheme="https" />
                <data
                    android:host="youtube.com"
                    android:scheme="https" />
                <data
                    android:host="soundcloud.com"
                    android:scheme="https" />
                <data
                    android:host="soundcloud.com"
                    android:scheme="http" />
                <data
                    android:host="www.soundcloud.com"
                    android:scheme="https" />
                <data
                    android:host="www.soundcloud.com"
                    android:scheme="http" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="https" />
                <data
                    android:host="www.youtube.com"
                    android:scheme="http" />
                <data
                    android:host="www.youtu.be"
                    android:scheme="http" />
                <data
                    android:host="www.youtu.be"
                    android:scheme="https" />
                <data
                    android:host="youtu.be"
                    android:scheme="http" />
                <data
                    android:host="youtu.be"
                    android:scheme="https" />-->
            </intent-filter>
        </activity> <!-- <service android:name=".services.DownloadService" /> -->
        <service android:name=".services.IntentDownloadService" />
        <service
            android:name=".services.FirebaseService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".services.MusicService" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <receiver
            android:name=".receivers.SongBroadCast"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kpstv.youtube.ACTION_PLAY" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kpstv.youtube.ACTION_PREVIOUS" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kpstv.youtube.ACTION_NEXT" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kpstv.youtube.STOP_SERVICE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kpstv.youtube.OPEN_SONG" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kpstv.youtube.OPEN_SHARE_SONG" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kpstv.youtube.SHOW_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.kpstv.youtube.FAVOURITE_SONG" />
            </intent-filter>
        </receiver>
    </application>

</manifest>